*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: #e9ece5;
}
h1.title{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #c0dfd9;
    padding: 10px 0;
    text-align: center;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
._1week{
    width: 398px;
    float: left;
    border-right: 2px solid transparent;
}
._1week h3{
    width: 100%;
    font-size: 26px;
    padding: 10px 0;
    text-align: center;
    color: white;
    background-color: #3b3a36;
    border-bottom: 2px solid transparent;
}
._1week ul{
    width: 100%;
    text-align: center;
}
._1week ul li{
    list-style-type: none;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #b3c2bf;
    transition: .3s;

}
._1week ul li:hover{
    background-color: #c0dfd9;
}
._1week ul li a{
    color: #3b3a36;
    text-decoration: none;
    font-size: 16px;
    display: block;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}